@media (min-width: 1200px) {
    /* hack because of error message shifting columns */
    .td-form .form-group {
        height: 55px !important;
    }
}

@media (max-width: 1200px) {
    .panel-nav {
        margin: 30px 0px;
    }
    .home-page {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .form-divider {
        top: 0px;
    }
    .td-form .checkbox-list-left .panel-checkbox {
        width: 395px;
        margin: 0 0 30px 0;
    }
}

@media (max-width: 992px) {
    .main-content{
        margin-top: 200px;
    }
    .navbar-right {
        float: left !important;
    }
    .td-form .checkbox-list-right .panel-checkbox {
        width: 395px;
        margin: 0 0 30px 0;
    }
}

@media (max-width: 767px) {
    .main-content{
        margin-top: 160px;
    }
}
